HACKZ_CONTROL_PLANE_PROJECT_ID=hackz-a17b6
HACKZ_ANALYSIS_PORT=8788
HACKZ_CORS_ORIGIN=*
GOOGLE_APPLICATION_CREDENTIALS=
# GCP project that hosts Secret Manager secrets (usually Control Plane project).
HACKZ_SECRETS_PROJECT_ID=hackz-a17b6
HACKZ_INTEGRATION_NAME=Hackz
HACKZ_INTEGRATION_VERSION=1.0.2
